.chart-card{
    /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */
    width: 100% !important;
    padding: 10px;
    border: 1px solid rgba(3, 102, 214, 0.3);
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}